{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact | Shaik M Subhani</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="text-center py-10">
        <h1 class="text-4xl text-md-5xl font-extrabold text-cyan-400 drop-shadow-lg">Contact Me</h1>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/experience/">Experience</a>
        <a href="/skills/">Skills</a>
        <a href="/projects/">Projects</a>
        <a href="/contact/">Contact</a>
    </nav>
    <main class="main-content">
        <section>
            {% if message %}
                <div class="success-message">{{ message }}</div>
            {% endif %}
            <form method="post" class="form-container">
                {% csrf_token %}
                <label for="name" class="form-label">Name:</label>
                <input type="text" id="name" name="name" required>
                <label for="email" class="form-label">Email:</label>
                <input type="email" id="email" name="email" required>
                <label for="message" class="form-label">Message:</label>
                <textarea id="message" name="message" required></textarea>
                <button type="submit">Send Message</button>
            </form>
        </section>
    </main>
</body>
</html> 