{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects | Shaik M Subhani</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="text-center py-10">
        <h1 class="text-4xl text-md-5xl font-extrabold text-cyan-400 drop-shadow-lg">Projects</h1>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/experience/">Experience</a>
        <a href="/skills/">Skills</a>
        <a href="/projects/">Projects</a>
        <a href="/contact/">Contact</a>
    </nav>
    <main class="main-content">
        <section class="space-y-8">
            <div class="content-card">
                <h2>E-Commerce Analytics Dashboard</h2>
                <ul>
                    <li>Built Django-powered dashboard to monitor real-time sales and inventory</li>
                    <li>Integrated Memcached to enhance query speed and server performance</li>
                </ul>
            </div>
            <div class="content-card">
                <h2>RID App - Resource Intelligence and Deployment</h2>
                <ul>
                    <li>Designed containerized services using Docker and deployed on AWS EC2</li>
                    <li>Conducted functional testing and tracked development using version control</li>
                </ul>
            </div>
            <div class="content-card">
                <h2>Document Automation System</h2>
                <ul>
                    <li>Automated document classification with Python, AWS Lambda and S3</li>
                    <li>Improved processing accuracy and eliminated repetitive manual tasks</li>
                </ul>
            </div>
        </section>
    </main>
</body>
</html> 